In [43]:
import pandas as pd
import numpy as np

df=pd.read_csv('Elektriciteitsbalans__aanbod_en_verbruik_22112017_141845.csv',header=3,sep=';',index_col=0)
df=df.drop(df.columns[0],1)
df.head()

,2016 mei*,2016 juni*,2016 2e kwartaal*,2017 mei*,2017 juni*,2017 2e kwartaal*
Onderwerp,,,,,,
Totaal aanbod,9366.0,9707.0,28343.0,9482.0,9366.0,27965.0
||Totaal productie,8214.0,8292.0,25128.0,8345.0,8486.0,25806.0
||Centraal,5258.0,5495.0,16353.0,5389.0,5689.0,16873.0
||Decentraal,2956.0,2797.0,8775.0,2956.0,2797.0,8933.0
Invoer,2397.0,2413.0,6917.0,2327.0,1984.0,6231.0

In [42]:
array=df.values
type(array)

numpy.ndarray