In [107]:
import pandas as pd
import numpy as np

#Create dataframe. Change filepath, filename and header when necessary
df=pd.read_csv('KNMI_20171121.txt',header=48,sep=',')
#data=data[1:]
df=df.drop(0)
df.head()

,# STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
1,209,20161101.0,334.0,55.0,67.0,110.0,13.0,30.0,1.0,140.0,...,,,,,,,,,,
2,209,20161102.0,320.0,96.0,99.0,120.0,8.0,70.0,23.0,180.0,...,,,,,,,,,,
3,209,20161103.0,251.0,52.0,72.0,130.0,23.0,20.0,11.0,160.0,...,,,,,,,,,,
4,209,20161104.0,197.0,97.0,100.0,140.0,3.0,70.0,22.0,180.0,...,,,,,,,,,,
5,209,20161105.0,291.0,72.0,78.0,130.0,24.0,40.0,3.0,180.0,...,,,,,,,,,,

In [108]:
array=df.values
type(array)

numpy.ndarray